#chat-output-frame {
    background: #2a2a2a;
}

.popover * {
    color: #000;
}

.tooltip-inner {
    background: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    color: #000;
}
.tooltip-arrow {
    border-top-color: rgba(255, 255, 255, 0.8) !important;
}

#chat-auto-complete {
    animation: none !important;
}

#autocomplete {
    position: absolute;
    width: 100%;
    height: 36px;
    overflow: hidden;
    left: 0;
    right: 0;
    top: -36px;
    line-height: 36px;
    padding-top: 4px;
    background: rgba(0, 0, 0, 0.65);
    transition: top 0.033s ease-in;
}
#autocomplete.stacked {
    top: -60px !important;
}

.chat-emote {
    cursor: pointer;
}

.chat-lines.readable .msg-chat {
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    margin-bottom: 0px !important;
}

.chat-lines.readable .msg-chat:not(:last-child) {
    border-bottom: 1px solid #454545;
}

.chat-lines.readable .msg-chat:not(.msg-emote):not(.msg-highlight):not(.msg-own).msg-dark {
    background: rgba(0, 0, 0, 0.15);
}

.chat-lines.with-pronouns .text {
    padding-right: 65px;
}

.pronouns {
    position: absolute;
    right: 10px;
    font-size: 12px;
    color: #aaa;
}

.chat-emote {
    margin-top: -24px !important;
}
